@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Barlow";
  font-weight: 600;
  src: url(./../../public/fonts/Barlow/Barlow-Medium.ttf);
}
@font-face {
  font-family: "Fraunces";
  font-weight: 700;
  src: url(./../../public/fonts/Fraunces/static/Fraunces_72pt-Bold.ttf);
}
@font-face {
  font-family: "Fraunces";
  font-weight: 900;
  src: url(./../../public/fonts/Fraunces/static/Fraunces_9pt_Soft-Black.ttf);
}

.background {
  background: url(./../../public/images/desktop/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.gBack {
  background: url(./../../public//images/desktop/image-graphic-design.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.oBack {
  background: url(./../../public//images/desktop/image-photography.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

