@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Barlow";
  font-weight: 600;
  src: url(./../../public/fonts/Barlow/Barlow-Medium.ttf);
}
@font-face {
  font-family: "Fraunces";
  font-weight: 700;
  src: url(./../../public/fonts/Fraunces/static/Fraunces_72pt-Bold.ttf);
}
@font-face {
  font-family: "Fraunces";
  font-weight: 900;
  src: url(./../../public/fonts/Fraunces/static/Fraunces_9pt_Soft-Black.ttf);
}

.background {
  background: url(./../../public/images/mobile/image-header.jpg);
  background-position : center;
  background-repeat: no-repeat;
  background-size :cover;
}

.gBack {
  background: url(./../../public//images/mobile/image-graphic-design.jpg);
  background-position:top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
}
.oBack {
  background: url(./../../public//images/mobile/image-photography.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
}

@media (min-width: 768px) {
  .background{
    background: url(./../../public/images/desktop/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size : cover;
  }
  
}
@media (min-width : 400px) {
  .gBack {
    background: url(./../../public/images/desktop/image-graphic-design.jpg);
    background-position:top;
    background-repeat: no-repeat;
    height: 600px;
  }
  .oBack {
    background: url(./../../public/images/desktop/image-photography.jpg);
    background-position: top;
    background-repeat: no-repeat;
    height: 600px;
  }
}